extends ../layout.pug

block content
  - var header = {left:bars,title:"安其拉餐厅-餐桌状态"};
  include ../model/nav
  -var slider = [{title:'餐桌管理',href:'/table'},{title:'餐厅管理',href:'/manager'},{title:'个人资料',href:'/profile',},{title:'登出',href:'/signout'}]
  include ../model/slider
  #app

block script
  script(src="/js/table.js")

block css
  link(href="/css/table.css" rel="stylesheet" type="text/css")
