extends layout.pug

block css
  link(href="/css/index.css" rel="stylesheet" type="text/css")
block content
  .logo
    img(src="/img/logo.png")
  
  .input-box
    .input-item
      span(style="background:url(/img/icon/sign-account.png)")
      input#account(type="text" name="account" maxlength="13"  autofocus="autofocus")
    .input-item
      span(style="background:url(/img/icon/sign-password.png)" )
      input#password(type="password" name="password" maxlength="10")

  .check
    button#check-btn 登陆
    .check-info
      span.left 
        a(href="/foget") 忘记密码？
      span.right 
        a(href="/signup") 注册

block script
  script.
    $(function(){
      var $account = $("#account");
      var $password = $("#password");
      var $button = $("check-btn");
      //点击登录
      $button.click(function(e){
        $.ajax({
          type:'post',
          
        })
        .then(function(res){
          
        })
      });
    });







