doctype
html(manifest="/angela.appcache")
    head
        meta(charset="utf-8")
        meta(keywords="")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet" type="text/css")
        script(src="/js/jquery.min.js")
        title= title +"-"+ sitename
        block css
    body
        block content
        block script
    
