doctype
html
    header
    meta(charset="utf-8")
    meta(keywords="")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(href="/css/main.css")
    link(href="/css/amazeui.min.css")
    title= title +"-"+sitename
    block css
    body
        block content
        block script
        script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
    
