extends layout.pug

block css
  link(href="/css/index.css" rel="stylesheet" type="text/css")
  link(href="/css/queue.css" rel="stylesheet" type="text/css")

block content
  -var header = {title:"预订单队列"}
  include ./model/nav
  #app-queue
    .queue
      .input-item
        span(style="background:url(/img/icon/sign-nickname.png)" )
        input#password(value="姓名" disabled="disabled")
      .input-item
        span(style="background:url(/img/icon/sign-nickname.png)" )
        input#password(value="预定时间" disabled="disabled")
      .input-item
        span(style="background:url(/img/icon/sign-phone.png)" )
        input#password(value="联系方式" disabled="disabled")
      .input-item
        span(style="background:url(/img/icon/sign-account.png)" )
        input#password(value="人数" disabled="disabled")

block script
  script(src="https://unpkg.com/vue@2.3.3/dist/vue.js")
  script.
   var app = new Vue({
    el: '#app',
    data: {
      message: []
    },
    created:function(){
      var vm = this;
      setInterval(()=>{
        vm.message ++;
      },1000);
    }
   });
