extends ../layout
block content
    - var header = {title:"现场点单",left:leftArrow}
    include ../model/nav
    .tokenid-wrapper
        .tokenid-title TOEKNID
        .tokenid= AccessToken
        .tokenid-info 请将这个ID告诉服务员以确认
    
block script
    script.
      $(function(){
        $('.header-left').click(function(e){
            history.go(-1);
        });
        //不停的发送ajax请求以确认自己是否有权限进入点餐的接口
        var clock = setInterval(function(){
            $.get('/api/v1/user/canOrder')
             .then(function(res){
                console.log(res);
                if(res.success){
                    clearInterval(clock);
                    window.location.href = '/order/menu';
                }
             });
        },500);
      });


block css
    style.
      .tokenid-wrapper{margin-top:20px;padding:0 20px;width:100%;}
      .tokenid-title{}
      .tokenid{width: 90%;margin: 0 auto;text-align: center;font-size: 30px;border-bottom: 1px solid black;}
      .tokenid-info{width:100%;text-align:center;margin-top:30px;}
