style.
  .header{background:#2a2941;height:50px;position:relative;font-size:0;}
  .header > .header-left{
      color:rgb(255,237,91);
      line-height:50px;
      width:50px;
      text-align:center;
      position:absolute;
      left:0;top:0;
      z-index:10;
      font-size:20px;
  }
  .header > .header-right{
      color:rgb(255,237,91);
      line-height:50px;
      width:50px;
      text-align:center;
      position:absolute;
      top:0;right:0;
      z-index:10;
      font-size:20px;
  }
  .header > .header-center{
      position:absolute;
      color:yellow;
      width:100%;left:0;
      top:0;text-align:center;
      line-height:50px;
      font-size:20px;
  }
header.header
    .header-left!=header.left
    .header-center!=header.title
    .header-right!=header.right

script.
 $('.am-icon-arrow-left').click(e =>{
    window.history.go(-1);
 });